
.productdetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  background-color: #f9f9f9;
}

.productdetail .details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.productdetail .details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.productdetail img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.productdetail .details h3 {
  font-size: 20px;
  margin-top: 10px;
}

.productdetail .details p:last-child {
  margin-bottom: 0;
}
.details{
  flex-direction: column;
}